*\nIF2000_2025/
/IF2000_introduccionPrograma/target/
/IF2000_introduccionPrograma/nbproject/
/IF2000_Laboratorio3/nbproject/private/
/IF2000_Laboratorio3/build/
/IF2000_Laboratorio3/dist/
/IF2000_Laboratorio4/nbproject/private/
/ArraysMatrices/nbproject/private/
/IF2000_Laboratorio4/build/
/IF2000_Laboratorio4/dist/
/IF2000_Laboratorio5/Laboratorio5/nbproject/private/
/Laboratorio5/nbproject/private/
/IF2000_Laboratorio5/nbproject/private/
/IF2000_Laboratory5/nbproject/private/
/IF2000_Laboratory5/build/
/IF2000_Laboratory5/dist/
